@import "tailwindcss";

@theme {
  --color-primary: #fe4a23;
  --color-primary-2nd: #ff9971;
  --color-primary-3rd: #ffc3a8;
  --color-primary-4th: #fff2eb;
  --color-secondary: #ffc116;
  --color-secondary-2nd: #ffe988;
  --color-secondary-3rd: #fff5c6;
  --color-secondary-4th: #fffbeb;
  --color-purple-element: #5e67c2;
  --color-tosca-element: #53dacf;
  --color-gray: #828282;
  --color-gray-stroke: #b1a6a6;
}

.font-accent {
  font-family: "Times New Roman";
}

* {
  font-family: "Montserrat", sans-serif;
}

#pagenotfoundh1 {
  font-family: "Times New Roman";
}
